body {
    background-color: white;
    max-width: 800px;
    margin: auto;
}
table {
    border: 1px solid black;
    margin-top: 5px;
}

td {
    border: 1px solid black;
}

.fieldCol {
    background-color: lightblue;
    font-weight: bold;
}
.center {
    margin: auto;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex_1-1 {
    flex: 0 0 100%;
}
.flex_1-4 {
    flex: 0 0 25%;
}
.flex_2-4 {
    flex: 0 0 50%;
}
.flex_3-4 {
    flex: 0 0 75%;
}
.flex_1-10 {
    flex: 0 0 10%;
}
.flex_9-10 {
    flex: 0 0 90%;
}